<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.service.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.entity.service.Area" >
    <id column="a_id" property="aId" jdbcType="INTEGER" />
    <result column="a_name" property="aName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    a_id, a_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from area_t
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area_t
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.service.Area" >
    insert into area_t (a_id, a_name)
    values (#{aId,jdbcType=INTEGER}, #{aName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.service.Area" >
    insert into area_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        a_id,
      </if>
      <if test="aName != null" >
        a_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="aName != null" >
        #{aName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.service.Area" >
    update area_t
    <set >
      <if test="aName != null" >
        a_name = #{aName,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.service.Area" >
    update area_t
    set a_name = #{aName,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>